
@{
    ViewData["Title"] = "此处暂时没有东西！";
}
<div class="right_col" role="main">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button class="close" aria-label="Close" type="button" data-dismiss="alert">
            <span aria-hidden="true">×</span>
        </button>
        <strong>此页面还在施工中！</strong> 请查看其他页面
    </div>
</div>